<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">-->
<div class="container-fluid">

  <div id="header">
    <div class="container_h">
      <h1>
        <span class="logo">Cinerama</span>.uz
      </h1>
      <ul class="navbar">

        <li>
          <a href="#">Kinolar</a>
        </li>
        <li>
          <a href="#">Seriallar</a>
        </li>
        <li>
          <a href="#">TV</a>
        </li>
        <li>
          <a href="#">Multifilmlar</a>
        </li>
        <li>
          <a href="#">O'zbek Kino</a>
        </li>
        <li>
          <a href="#">Anime</a>
        </li>
        <li>
          <a href="#">Boshqalari</a>
        </li>
        <li>
          <form class="search" action="search.php">
            <input name="q" placeholder="Search..." type="search">
          </form>
        </li>
        <li>
          <a href="#"><i href="#" class="fa-solid fa-user-large"></i></a>
        </li>
      </ul>

    </div>
  </div>


  <div>
    <div class="slideshow-container">

      <div class="mySlides myFade">
        <div class="numbertext">1 / 3</div>
        <img class="slider-img"
             src="https://files.cinerama.uz/images/banners/2022/07/20/38385baf-db4e-48c9-824f-a74b67cfc703.png">
        <div class="text">Caption Text</div>
      </div>

      <div class="mySlides myFade">
        <div class="numbertext">2 / 3</div>
        <img class="slider-img"
             src="https://files.cinerama.uz/images/banners/2022/07/20/92284df4-38b7-49fe-a8ca-1e878ef9f9de.png">
        <div class="text">Caption Two</div>
      </div>

      <div class="mySlides myFade">
        <div class="numbertext">3 / 3</div>
        <img class="slider-img"
             src="https://files.cinerama.uz/images/banners/2022/07/20/92284df4-38b7-49fe-a8ca-1e878ef9f9de.png">
        <div class="text">Caption Three</div>
      </div>
    </div>
    <div style="text-align:center; position: relative">
      <span class="dot" (click)="currentSlide(1)"></span>
      <span class="dot" (click)="currentSlide(2)"></span>
      <span class="dot" (click)="currentSlide(3)"></span>
    </div>
  </div>


  <div class="movie-container">
    <div class="row">
      <h1 class="movie-category-name">Cartoon</h1>
    </div>
    <div class="row">

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

    </div>
  </div>


  <div class="movie-container">
    <div class="row">
      <h1 class="movie-category-name">Anime</h1>
    </div>
    <div class="row">

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

    </div>
  </div>


</div>
