<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">

<div class="container-fluid">
  <div id="header">
    <div class="container_h">
      <h1>
        <span (click)="toHome()" class="logo">Cinerama</span>.uz
      </h1>
      <ul class="navbar">

        <li>
          <a (click)="toKino()" href="/kino">Kinolar</a>
        </li>
        <li>
          <a (click)="toSerial()" href="/serial" class="active">Seriallar</a>
        </li>
        <li>
          <a href="#">TV</a>
        </li>
        <li>
          <a (click)="toMultic()" href="/multic">Multifilmlar</a>
        </li>
        <li>
          <a href="#">O'zbek Kino</a>
        </li>
        <li>
          <a (click)="toAnime()" href="/anime">Anime</a>
        </li>
        <li>
          <form class="search" action="search.php">
            <input name="q" placeholder="Search..." type="search">
          </form>
        </li>
        <li class="user-icon">
          <a (click)="login()"><i href="" class="fa-solid fa-user-large"></i></a>
        </li>
      </ul>

    </div>
  </div>

  <div class="filter-search">
    <div class="container_h">
      <div class="row">
        <table class="table">
          <thead>
          <tr class="filters">
            <th>Janr
              <input id="assigned-user-filter" class="form-control" type="text">
            </th>
            <th>Shaxarlar
              <input id="status-filter" class="form-control" type="text">
            </th>
            <th>Yil
              <input id="milestone-filter" class="form-control" type="date">
            </th>
            <th>Category
              <select id="priority-filter" class="form-control">
                <option>Any</option>
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
                <option>Urgent</option>
              </select>
            </th>
          </tr>

          </thead>
        </table>
      </div>

    </div>
  </div>

  <div class="serial-container">
    <div class="row movie-text-background">
      <h1 class="movie-category-name">Serial</h1>
    </div>

    <div class="row m111">

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>
      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>
      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

      <div class="col-2 movie-card">
        <div class="movie-card-image">
          <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                          alt=""></a>
        </div>
        <div class="movie-card-bottom">
          <p class="movie-card-title">Cамые сильные люди на Земле</p>
          <p class="movie-card-detail"> 2018 / Документальный</p>
        </div>
      </div>

    </div>
  </div>


</div>

<div class="movie-footer">
  <div class="container_h">
    <div class="footer-name">
      <h1>BigMan Corporation</h1>
    </div>
    <div class="footer-info">
      <h1>Our accounts</h1>
    </div>
    <div class="footer-contact">
      <h1>Our web contact</h1>
    </div>
  </div>
</div>
